.aboutContainer {
    display: flex;
    justify-content: space-between;
    height: 90vh;
    width: 80%;
    margin: auto;
}
.aboutContainer img {
    width: 50%;
    height: 100%;
}
.content p{
    width: 80%;
    padding-top: 2rem;
}
.content {
    padding: 2rem;
}